<a href="https://colab.research.google.com/github/lumagri/Python_to_Data_Science/blob/main/7_Data_Visualization_Exploring_with_seaborn/Tips_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importando base de dados

In [23]:
import pandas as pd

In [24]:
dados = pd.read_csv('tips.csv')

In [25]:
dados.head(10)

   total_bill   tip dessert  day    time  size
0       16.99  1.01      No  Sun  Dinner     2
1       10.34  1.66      No  Sun  Dinner     3
2       21.01  3.50      No  Sun  Dinner     3
3       23.68  3.31      No  Sun  Dinner     2
4       24.59  3.61      No  Sun  Dinner     4
5       25.29  4.71      No  Sun  Dinner     4
6        8.77  2.00      No  Sun  Dinner     2
7       26.88  3.12      No  Sun  Dinner     4
8       15.04  1.96      No  Sun  Dinner     2
9       14.78  3.23      No  Sun  Dinner     2

#Tradução dos dados

In [26]:
dados.columns #verificando os nomes das colunas

Index(['total_bill', 'tip', 'dessert', 'day', 'time', 'size'], dtype='object')

In [27]:
renomear = {
    'total_bill' : 'valor_da_conta', 
    'tip' : 'gorjeta',
    'dessert': 'sobremesa',
    'day': 'dia',
    'time' : 'horario',
    'size' : 'total_de_pessoas'
}

In [28]:
type(dados)

pandas.core.frame.DataFrame

In [29]:
tips = dados.rename(columns = renomear)

In [30]:
tips.head(1)

   valor_da_conta  gorjeta sobremesa  dia horario  total_de_pessoas
0           16.99     1.01        No  Sun  Dinner                 2

In [31]:
tips.sobremesa.unique() # unique() apresenta todos os dados possíveis dessa coluna.

array(['No', 'Yes'], dtype=object)

In [32]:
sim_nao = {
    'No' : 'Não', 
    'Yes' : 'Sim'
}

In [33]:
#para fazer a tradução dos valores dos dados é necessário mapear e inserir o dicionário criado.
tips.sobremesa.map(sim_nao)

0      Não
1      Não
2      Não
3      Não
4      Não
      ...
239    Não
240    Sim
241    Sim
242    Não
243    Não
Name: sobremesa, Length: 244, dtype: object

In [34]:
# precisa inserir o map na variável sobremesa. sobremesa precisa receber o map. 
tips.head(1)

   valor_da_conta  gorjeta sobremesa  dia horario  total_de_pessoas
0           16.99     1.01        No  Sun  Dinner                 2

In [35]:
tips.sobremesa = tips.sobremesa.map(sim_nao)
tips.head(1)
#agora sim da foi alterado.

   valor_da_conta  gorjeta sobremesa  dia horario  total_de_pessoas
0           16.99     1.01       Não  Sun  Dinner                 2

In [36]:
tips.dia.unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [37]:
#Criar o dicionário
dias = {'Sun':'Domingo', 
        'Sat': 'Sábado', 
        'Thur': 'Quinta', 
        'Fri': 'Sexta'
    
}

In [38]:
tips.dia = tips.dia.map(dias)
tips.head(3)

   valor_da_conta  gorjeta sobremesa      dia horario  total_de_pessoas
0           16.99     1.01       Não  Domingo  Dinner                 2
1           10.34     1.66       Não  Domingo  Dinner                 3
2           21.01     3.50       Não  Domingo  Dinner                 3

In [40]:
tips.dia.unique()

array(['Domingo', 'Sábado', 'Quinta', 'Sexta'], dtype=object)

In [41]:
tips.horario.unique()

array(['Dinner', 'Lunch'], dtype=object)

In [42]:
#Criar o dicionário
refeicao = {'Dinner': 'Jantar', 
            'Lunch': 'Almoço'
}

In [43]:
tips.horario = tips.horario.map(refeicao)

In [44]:
tips.horario.unique()

array(['Jantar', 'Almoço'], dtype=object)

In [46]:
tips.head()

   valor_da_conta  gorjeta sobremesa      dia horario  total_de_pessoas
0           16.99     1.01       Não  Domingo  Jantar                 2
1           10.34     1.66       Não  Domingo  Jantar                 3
2           21.01     3.50       Não  Domingo  Jantar                 3
3           23.68     3.31       Não  Domingo  Jantar                 2
4           24.59     3.61       Não  Domingo  Jantar                 4